.subscriptions-class{
    height: 100vh;
    overflow: scroll;
}

.subscriptions-class .subscribed-list{
    padding: 0.5rem;
}

.subscriptions-class .subscription-heading{
    font-size: 1.2rem;
}

.subscriptions-class .side-link img{
    width: 3em;
}

.subscriptions-class .side-link p{
    font-size: 1.1rem;
}