.play-video{
    width: 60%;
    display: flex;
    gap: 0.8rem;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    position: relative;
}

/* video{
    width: 53rem;
    border-radius: 0.5rem;
} */

iframe{
    width: 53rem;
    height: 30rem;
    border-radius: 0.5rem;
}

.play-video h3{
    font-size: 1.3rem;
}

.detail{
    width: 100%;
    display: flex;
    gap: 2.5rem;
    justify-content: space-evenly;
    align-items: center;
}

.channelAndSubsBox{
    width: 100%;
    display: flex;
    gap: 1.8rem;
    align-items: center;
}

.channel{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.channel img{
    width: 3rem;
    border-radius: 4rem;
}

.channel .channel-info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.channel .channel-info h5{
    width: 8.5rem;
    font-weight: 600;
    font-size: 0.95rem;
}

.channel .channel-info p{
    font-size: 0.75rem;
    color: rgb(63, 63, 63);
}

.subscribedBox{
    background-color: black;
    color: white;
    border-radius: 2rem;
    padding: 0.4rem 1rem;
}

.selectField{
    display: flex;
    gap: 0.6rem;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    background-color: rgba(237, 237, 237, 0.694);
}

.selectField p{
    font-size: 0.89rem;
    font-weight: 600
}

.selectField img{
    width: 1.3rem;
}

.list {
    position: absolute;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    border-top: none;
    background-color: white;
    z-index: 1000;
    margin-top: 0.1rem;
    margin-left: 0.4rem;
    overflow: none;
}
  
.options{
    width: 100%;
    position: relative;
    display: flex;
    gap: 0.5rem;
    justify-content:start;
    padding: 0.6rem 1.5rem 0.6rem 2rem;
    list-style: none;
}

.list .options p{
    font-size: 0.9rem;
}
      
.options:hover {
    background: #f0f0f0;
}

.options p{
    margin-left: 1.7rem;
    font-size: 1rem;
}

.options img{
    position: absolute;
    top: 0.5rem;
    left: 1rem;

}

.supporting-options{
    width: 100%;
    display: flex;
    gap: 0.5rem;
    justify-content: space-evenly;
    align-items: center;
}

.supporting-options span{
    font-size: 1rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 0.6rem 0.8rem;
    border-radius: 2rem;
    background-color: rgba(237, 237, 237, 0.694);
    cursor: pointer;
}

.userInputs-options span{
    margin-right: 0.5rem;
    padding: 0rem;
}

.supporting-options span img{
    width: 1.3rem;
}

.description{
    width: 53rem;
    padding: 1rem;
    font-size: 0.96rem;
    border-radius: 1rem;
    background-color: rgba(237, 237, 237, 0.694);
    line-height: 1.4rem;
}

.description .viewsAndTime span{
    margin-right: 0.5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.822);
}

.description .videoDescription{
    font-size: 0.9rem;
}

.description .expandDesc{
    max-height: none;
}

.description .limitDesc{
    max-height: 4rem;
    overflow-y: hidden;
}

.description button{
    font-size: 0.9rem;
    border: none;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.822);
    box-shadow: 0.1rem 0.1rem 0.3rem white;
    margin: 0.4rem;
}

.comment-section{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    margin-top: 1rem;
}

.comment-section h2{
    font-size: 1.3rem;
}

.comment{
    display: flex;
    gap: 1rem;
}

.comment img{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2rem;
}

.commenter-info span{
    font-size: 0.8rem;
    margin-right: 0.5rem;
    font-weight: 600;
    line-height: 1.4rem;
}

.commenter-info .time{
    font-size: 0.7rem;
    font-weight: 350
}

.commenter-info p{
    font-size: 0.88rem;
}

.comment span img{
    width: 1.4rem;
    height: 1.3rem;
}

.comment .likeAndDislike{
    display: inline-flex;
    gap: 0.5rem;
    align-items: center;
    margin-top: 0.9rem;
}

.moreCommBtnHide{
    display: none;
}

@media screen and (max-width:1300px) {
    iframe{
        width: 40rem;
        height: 30rem;
    }

    .play-video h3{
        font-size: 1rem;
    }

    .channel img{
        width: 2.5rem;
    }
    
    .channel .channel-info h5{
        width: 7.5rem;
        font-size: 0.75rem;
    }
    
    .channel .channel-info p{
        font-size: 0.65rem;
    }
    
    .subscribedBox{
        font-size: 0.7rem;
        border-radius: 2rem;
        padding: 0.2rem 0.6rem;
    }
    
    .selectField{
        gap: 0.4rem;
        padding: 0.5rem 0.6rem;
    }
    
    .selectField p{
        font-size: 0.7rem;
    }
    
    .selectField img{
        width: 1rem;
    }
    
    .list {
        margin-left: 0.1rem;
    }
      
    .options{
        gap: 0.2rem;
        padding: 0.6rem 1rem 0.4rem 1rem;
    }
    
    .list .options p{
        font-size: 0.7rem;
    }
          
    .options:hover {
        background: #f0f0f0;
    }
    
    .options p{
        margin-left: 1.7rem;
        font-size: 1rem;
    }

    .supporting-options span{
        font-size: 0.7rem;
        padding: 0.2rem 0.6rem;
    }
    
    .supporting-options span img{
        width: 1rem;
    }

    .description{
        width: 45rem;
        font-size: 0.76rem;
    }
    
    .description button{
        font-size: 0.8rem;
    }
     
    .comment-section h2{
        font-size: 1rem;
    }

    .comment img{
        width: 2.2rem;
        height: 2.2rem;
    }
    
    .commenter-info span{
        font-size: 0.7rem;
    }
    
    .commenter-info .time{
        font-size: 0.6rem;
    }
    
    .commenter-info p{
        font-size: 0.75rem;
    }
    
    .comment span img{
        width: 1rem;
        height: 0.9rem;
    }
}

@media screen and (max-width:1200px) {
    .play-video{
        width: 100%;
    }

    /* iframe{
        width: 50rem;
        height: 30rem;
    } */

    .channel img{
        width: 2.3rem;
    }
    
    .channel .channel-info h5{
        width: 6.5rem;
        font-size: 0.65rem;
    }
    
    .subscribedBox{
        font-size: 0.5rem;
        padding: 0.18rem 0.5rem;
    }

    .detail{
        gap: 1.5rem;
        justify-content: space-evenly;
        align-items: center;
    }

    .supporting-options span{
        font-size: 0.65rem;
        padding: 0.2rem 0.6rem;
    }

    .description{
        width: 40rem;
        font-size: 0.76rem;
    }
    
    .description button{
        font-size: 0.8rem;
    }
}

@media screen and (max-width:1000px) {
    iframe{
        width: 53rem;
    }

    .channelAndSubsBox{
        gap: 2.5rem;
    }

    .selectField{
        gap: 0.4rem;
        padding: 0.5rem 0.6rem;
    }
    
    .selectField p{
        font-size: 0.7rem;
    }
    
    .selectField img{
        width: 1rem;
    }
    
    .list {
        margin-left: 0.1rem;
    }
      
    .options{
        gap: 0.2rem;
        padding: 0.6rem 1rem 0.4rem 1rem;
    }
    
    .list .options p{
        font-size: 0.7rem;
    }
          
    .options:hover {
        background: #f0f0f0;
    }
    
    .options p{
        margin-left: 1.7rem;
        font-size: 1rem;
    }

    .supporting-options span{
        font-size: 0.7rem;
        padding: 0.2rem 0.6rem;
    }
    
    .supporting-options span img{
        width: 1rem;
    }

    .description{
        width: 100%;
        font-size: 0.76rem;
    }
    
    .description button{
        font-size: 0.8rem;
    }

    .comment-section{
        width: 98%;
        margin: 0rem auto;
        height: 10rem;
        background-color: rgba(237, 237, 237, 0.694);
        border-radius: 1rem;
        padding: 1rem;
        overflow-y: hidden;
        cursor: pointer;
    }

    .comment-section .comments-list{
        overflow: hidden;
        padding-top: 0.5rem;
    }

    .expand-comment-section{
        width: 98%;
        margin: 0rem auto;
        height: 48vh;
        background-color: rgba(237, 237, 237, 0.694);
        border-radius: 1rem;
        padding: 1rem;
        overflow: hidden;
    }

    .expand-comment-section .comments-list{
        height: 45vh;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        overflow: scroll;
        padding-bottom: 4rem;
    }

    .expand-comment-section h2{
       padding: 1rem;
    }

    .expand-comment-section .comment-section-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .expand-comment-section .closeComm-list{
        width: 1.5rem;
        height: max-content;
        padding: 0;
        font-size: 1.5rem;
        background-color: white;
        border: none;
        border-radius: 1rem;
        cursor: pointer;
    }

    .closeComm-list:hover{
        background-color: gray;
    }
     
    .comment-section h2{
        font-size: 1rem;
    }

    .comment img{
        width: 2.2rem;
        height: 2.2rem;
    }
    
    .commenter-info span{
        font-size: 0.7rem;
    }
    
    .commenter-info .time{
        font-size: 0.6rem;
    }
    
    .commenter-info p{
        font-size: 0.75rem;
    }
    
    .comment span img{
        width: 1rem;
        height: 0.9rem;
    }

}

@media screen and (max-width:780px) {
    iframe{
        width: 42rem;
        height: 30rem;
    }

    .channel img{
        width: 2.1rem;
    }
}

@media screen and (max-width:431px) {
    iframe{
        width: 26.75rem;
        border-radius: 0;
    }

    .play-video h3{
        margin: 0rem 0.5rem;
    }

    .detail{
        flex-direction: column;
    }

    .channelAndSubsBox{
        justify-content: space-between;
        padding: 0rem 0.5rem;
    }
}

@media screen and (max-width:391px) {
    iframe{
        width: 24.4rem;
    }

    .supporting-options{
        gap: 0.1rem;
    }

    .userInputs-options{
        gap: 0.2rem;
    }

    .userInputs-options span{
        padding: 0.1rem;
    }
}

@media screen and (max-width:376px) {
    iframe{
        width: 23.44rem;
    }
}

@media screen and (max-width:361px) {
    iframe{
        width: 22.48rem;
    }
}

@media screen and (max-width:321px) {
    iframe{
        width: 19.94rem;
    }

    .supporting-options span img{
        width: 0.82rem;
    }
}